* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Tahoma, Serif;
    color: #263238;
}

nav {
    padding: 1rem 2rem;
    background: #E2725B;
}

nav ul {  
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav li {
    padding-left: 1rem;
}

nav li a {
    color: black;
    font: Tahoma;
    text-decoration: solid;
    padding: 15px;  
}

nav li:hover a {
    background-color: #994d3d;
}

nav form {

  }
  

