<form action="/search" method="POST">
    Haku: 
    <input type="text" name="key">
    <input type="submit" value="Hae">
</form>
<a href="/login">Kirjaudu</a>
{% if session.is_admin %}
<br>
<a href="/priv_manager">Yksityspalstat työkalu</a>
{% endif %}
<br>
<a href="/priv_topics">Yksityispalstat</a>
<br> <br>

{% for topic in content %}
    <br>
    <a href="/topic/{{topic.topic_id}}">{{topic.header}}</a>
    {% if session.is_admin %}
        <a href="/topic/delete/{{topic.topic_id}}">Poista</a>
    {% endif %}
    <br>
    Postauksien määrä: {{topic.post_count}}
    <br>
    Viimeisin postaus: {{topic.last_post.strftime("%Y-%m-%d %H:%M")}}
    <br>
{% endfor %}
<br>

{% if session.is_admin %}
<form action="/createTopic" method="POST">
    Uusi aihe: 
    <input type="text" name="topic">
    <input type="submit" value="Luo">
</form>

<form action="/createPrivateTopic" method="POST">
    Yksityinen aihe: 
    <input type="text" name="topic">
    <input type="submit" value="Luo">
</form>
{% endif %}