{% extends  "navBar.html" %}
{% block content %}
{% if session.is_admin %}
<div class="adminTools_bar">
    <ul class="at" >
    <li><form action="/createTopic" method="POST">
        Uusi aihe: 
        <input type="text" name="topic">
        <input type="submit" value="Luo">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form></li>
    <li><a href="/priv_manager">Yksityspalstat &#9881;</a></li>
</ul>
</div>
{% endif %}

{% for topic in content %}
    <br>
    {% if session.is_admin %}
        <a href="/topic/delete/{{topic.topic_id}}" class="delete">Poista</a>
    {% endif %}
        <a href="/topic/{{topic.topic_id}}" class="topic_list">
            <ul >
                <li><h4>{{topic.header}}</h4></li>
                <li>Postauksien määrä: {{topic.post_count}}</li>
                <li>
                    Viimeisin postaus: 
                    {% if topic.last_post %}
                        {{topic.last_post.strftime("%Y-%m-%d %H:%M")}}
                    {% else %}
                        Ei vielä postauksia
                    {% endif %}
                </li>
            </ul>
        </a>
    <hr class="line">
{% endfor %}
{% endblock  %}
