{% extends "navBar.html" %}
{% block content %}
{%if session.username %}
    Olet kirjautunut nimellä {{ session.username }}.
    <a href="/logout">Kirjaudu ulos <br> käyttäjältä admin</a>
    <a href="/">Aloitussivulle</a>
{% else %}
    <form action="/login" method="POST" class="login">
        Käyttäjänimi:
        <input type="text   " name="username" placeholder="Käytäjänimi">
        <br>
        Salasana:
        <input type="password" name="password" placeholder="Salasana">
        <br>
        <input type="submit" value="Kirjaudu">
    </form>
    <a class="f" href="/newuser">Luo käyttäjä</a>
{% endif %}
{% endblock %}