<!DOCTYPE html>
<html>
    <head>
        <title>Leevin Tsoha prokkis</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> 
    </head>
    <body>
        <div class="content">
            <nav class="navBar"> 
                <ul>
                    <li><a href="/">Leddit</a></li>
                    <li><form action="/search" method="POST"> 
                        <input type="text" name="key">
                        <input type="submit" value=&#x1F50D;>   
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </form></li>
                    {% if session.username %}
                        <li><a href="/priv_topics">Yksityispalstat</a></li>
                        <li><a href="/logout">Kirjaudu ulos käyttäjältä {{session.username}}</a></li>
                    {% else %}
                    <li><a href="/priv_topics" hidden>Yksityispalstat</a></li>
                    <li><a href="/login">Kirjaudu</a></li>
                    {% endif %}
                </ul>
            </nav>
            <br>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>