 {% extends "navBar.html" %}
 {% block content %}
<h2>{{content_post.header}}</h2>
<p>{{content_post.content}}</p>
{% if session.username %}
    <form action="/post/{{content_post.post_id}}" method="POST">
        Kommentoi <br>
        <div class="ta_padding"><textarea name="content" rows="4" cols="50"></textarea></div>
        <input type="submit" value="Luo">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    <br>
    Kommentit:
    <hr class="line">
{% else %}
    <t class="notice">Kirjaudu sisään luodaksesi kommentti.</t>
{% endif %}
{% for comment in content_comments %}
    <br>
    {% if session.user_id == comment.owner_id or session.is_admin %}
    <a href="/comment/delete/{{comment.comment_id}}" class="delete"> Poista </a>
    <a href="/comment/{{comment.comment_id}}" class="modify"> Muokkaa </a>
    <br>
    {% endif %}
    luotu: {{comment.timestamp.strftime("%Y-%m-%d %H:%M")}} <br>
    luoja: {{comment.username}} <br>
    </a>
    <p>{{comment.content}}</p>
{% endfor %}
{% endblock %}