<form action="/createPrivateTopic" method="POST">
    Yksityinen aihe: 
    <input type="text" name="topic">
    <input type="submit" value="Luo">
</form>

<table>
    <tr>
        <th>Nimi</th>
        <th>Omistaja</th>
        <th>Luotu</th>
    </tr>
{% for topic in pri %}
        <tr>
            <th>{{topic.header}}</th>
            <th>{{topic.username}}</th>
            <th>{{topic.timestamp.strftime("%Y-%m-%d %H:%M")}}</th>
            <th><a href = "/priv_manager/{{topic.topic_id}}">Manage acces</a></th>
        </tr>
{% endfor %}
<tr>TEST</tr>
</table>