{% extends "navBar.html" %}
{% block content %}
<br>
<form action="/createPrivateTopic" method="POST">
    Luo yksityinen aihe: 
    <input type="text" name="topic">
    <input type="submit" value="Luo">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
<table class="register">
    <tr>
        <th>Nimi</th>
        <th>Omistaja</th>
        <th>Luotu</th>
    </tr>
{% for topic in pri %}
        <tr>
            <th>{{topic.header}}</th>
            <th>{{topic.username}}</th>
            <th>{{topic.timestamp.strftime("%Y-%m-%d %H:%M")}}</th>
            <th><a href = "/priv_manager/{{topic.topic_id}}" class="modify">Hallinnoi pääsyä</a></th>
        </tr>
{% endfor %}
</table>

{% endblock %}