{% extends  "navBar.html" %}
{% block content %}
{% for topic in content %}
    <br>
    {% if session.is_admin %}
        <a href="/topic/delete/{{topic.topic_id}}" class="delete">Poista</a>
    {% endif %}
        <a href="/topic/{{topic.topic_id}}" class="topic_list">
            <ul >
                <li><h4>{{topic.header}}</h4></li>
                <li>Postauksien määrä: {{topic.post_count}}</li>
                <li>
                    Viimeisin postaus: 
                    {% if topic.last_post %}
                        {{topic.last_post.strftime("%Y-%m-%d %H:%M")}}
                    {% else %}
                        Ei vielä postauksia
                    {% endif %}
                </li>
            </ul>
        </a>
    <hr class="line">
{% endfor %}
{% endblock %}