{% extends "navBar.html" %}
{% block content %}
<br>
Yksityispalstan {{topic.header}} käyttäjät:
<table> <tr>
    <form action="/addpriv/{{topic.topic_id}}" method="POST">
        <th><input type="text" name="username" placeholder="Käyttäjänimi"></th>
        <th><input type="submit" value="Lisää"></th>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</tr>
{% for user in users %}
    <tr>
        <th>{{user.username}}</th>
        <th><a href="/delpriv/{{user.user_id}}/{{topic.topic_id}}" class="delete"> Poista </a></th>
    </tr>
{% endfor %}
</table>
{% endblock %}