{% extends "navBar.html" %}
{% block content %}
<h3>Hakutulokset sanalle: {{query}}</h3>
{% if content %}
    {% for post in content %}
        <br>
        {% if session.user_id == post.owner_id or session.is_admin %}
            <a href="/post/delete/{{post.post_id}}" class="delete"> Poista </a>
            <a href="/post/modify/{{post.post_id}}" class="modify"> Muokkaa </a>
        {% endif %}
        <a href="/post/{{post.post_id}}" class="topic_list">
            <ul>
                <li><h4>{{post.header}}</h4></li>
                <li><p>{{post.content}}</p></li>
                <li>luotu: {{post.timestamp.strftime("%Y-%m-%d %H:%M")}}</li>
                <li>luoja: {{post.username}}</li> 
                <li>kanavalta: {{post.topic_header}}</li>
            </ul>
        </a>
    {% endfor %}
{% else %}
    <br>
    <h4>Haullasi ei ole tuloksia.</h4>
{% endif %}
{% endblock %}